<h1>Admin</h1>
<div class="btn-group">
  <div class="btn"><a href="/admin"<% if(page == 'Overview'){ %> class="active"<% } %>><span>Overview</span></a></div>
  <div class="btn"><a href="/admin/users"<% if(page == 'Users'){ %> class="active"<% } %>><span>Users</span></a></div>
  <div class="btn"><a href="/admin/creators"<% if(page == 'Creators'){ %> class="active"<% } %>><span>Creators</span></a></div>
</div>
