# Enable Search-Friendly URLs
RewriteEngine On
RewriteRule ^images/linux_icon\.svg$ assets/images/linux_icon.svg [L]
RewriteRule ^images/menu_game_logo\.png$ assets/images/menu_game_logo.png [L]
RewriteRule ^images/windows_icon\.svg$ assets/images/windows_icon.svg [L]
RewriteRule ^duels/1\.jpg$ assets/images/duels/1.jpg [L]
RewriteRule ^duels/2\.jpg$ assets/images/duels/2.jpg [L]
RewriteRule ^duels/3\.jpg$ assets/images/duels/3.jpg [L]
RewriteRule ^duels/4\.jpg$ assets/images/duels/4.jpg [L]
RewriteRule ^duels/5\.jpg$ assets/images/duels/5.jpg [L]
RewriteRule ^duels/6\.jpg$ assets/images/duels/6.jpg [L]
RewriteRule ^duels/reconsidered\.jpg$ assets/images/duels/reconsidered.jpg [L]
RewriteRule ^duels/shameful\.jpg$ assets/images/duels/shameful.jpg [L]
RewriteRule ^duels/victory\.jpg$ assets/images/duels/victory.jpg [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Disable access
RewriteRule ^cache/(.*)?$ / [F,L]
RewriteRule ^src/(.*)?$ / [F,L]
RewriteRule ^templates/(.*)?$ / [F,L]
RewriteRule ^vendor/(.*)?$ / [F,L]
RewriteRule ^composer\.(lock|json)$ / [F,L]
<FilesMatch "(\.env|\.json)$">
	Order deny,allow
	Deny from all
</FilesMatch>
