# Enable Search-Friendly URLs
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Disable folder access
RewriteRule ^cache/(.*)?$ / [F,L]
RewriteRule ^src/(.*)?$ / [F,L]
RewriteRule ^templates/(.*)?$ / [F,L]
RewriteRule ^vendor/(.*)?$ / [F,L]
RewriteRule ^composer\.(lock|json)$ / [F,L]
