<%- include('overall_header'); %>

<h1>Hypersomnia</h1>
<p><i>Hypersomnia</i> is a hardcore arena mixing eSports with pixely nostalgia.<br>
Every match will be unforgiving - every duel a psychological battle.</p>

<p>More of a peaceful soul?<br>
Unleash your creativity in the <strong>WYSIWYG in-game map Editor</strong> that lets you instantly playtest your maps online.</p>

<p>It's all free and open-source.<br>
Written without a game engine, in bare C++. Only 50 MB.<br>
Feel free to build it yourself from GitHub and modify <i>Hypersomnia</i> to your heart's content.</p>

<p>Features:
<ul>
<li>24 unique firearms.</li>
<li>2 game modes: Bomb defusal (team-based) and Gun game (free-for all).</li>
<li>6 magic spells, 4 grenade types and 7 melee weapons.</li>
<li>An in-game map editor that lets you host a work-in-progress map to test with your friends in a single click. Quickly iterate your map unlike in any game engine.</li>
</ul></p>

<p>Declare allegiance to one of the three factions whose apple of discord is a disparity between prevailing notions of moral excellence:</p>

<p><strong>Metropolis. Atlantis. Resistance.</strong></p>

<p>Will you take revenge for the unethical simulation of an inferior universe? Will you support the cruel experiments to win total control over metempsychosis? Or will you join the underground civilization that awaits the end of war in this dangerous afterlife reality?</p>

<h2>Gameplay & Dev Journals</h2>
<ul class="yt">
  <li data-code="L4zSA34fD_E"></li>
  <li data-code="CHLPzZqANlM"></li>
  <li data-code="Nlh_dyd_V7w"></li>
</ul>

<%- include('overall_footer'); %>
