<%- include('overall_header'); %>

<main class="layout">
  <div class="main-left">
    <h1>Hypersomnia</h1>
    <p>Experience the intensity of <em>Counter-Strike</em> combined with the fast-paced mechanics of <em>Hotline Miami</em>.<br>
    Available for <strong>Windows</strong>, <strong>Linux</strong>, and <strong>macOS</strong>. The download size is <strong>under 50 MB</strong>.</p>

    <section class="downloads">
      <a href="https://play.hypersomnia.io/" target="_blank" class="dl div1">
        <img src="/assets/images/os/browser.svg" alt="Browser">
        <h3>Play in Your Browser</h3>
        <span>The fastest way to try the game</span>
      </a>
      <a href="https://store.steampowered.com/app/2660970/Hypersomnia/" target="_blank" class="dl div2">
        <img src="/assets/images/os/steam.svg" alt="Steam">
        <h3>Get for Free on Steam</h3>
        <span>Recommended if you have Steam</span>
      </a>
      <a href="https://hypersomnia.io/builds/latest/Hypersomnia-for-Windows.zip" class="dl div3" download>
        <img src="/assets/images/os/win.svg" alt="Windows">
        <h3>Download for Windows</h3>
        <code>Hypersomnia-for-Windows.zip</code>
      </a>
      <a href="https://hypersomnia.io/builds/latest/Hypersomnia.AppImage" class="dl div4" download>
        <img src="/assets/images/os/tux.svg" alt="Linux">
        <h3>Download for Linux</h3>
        <code>Hypersomnia.AppImage</code>
      </a>
      <a href="https://hypersomnia.io/builds/latest/Hypersomnia-for-MacOS.dmg" class="dl div5" download>
        <img src="/assets/images/os/mac.svg" alt="macOS">
        <h3>Download for macOS</h3>
        <code>Hypersomnia-for-MacOS.dmg</code>
      </a>
    </section>

    <p>All archives are <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/src/signing_keys.h" target="_blank">digitally signed</a> for authenticity and integrity. Verify them <a href="https://hypersomnia.io/builds/latest/" target="_blank">here</a> using public keys.</p>
  </div>
  <aside class="main-right">
    <h2>Latest Updates</h2>
    <ul>
      <% if (github && github.data.length > 0) { %>
        <% github.data.forEach(commit => { %>
          <li><%= commit.title %></a></li>
        <% }) %>
      <% } else { %>
        <li>No recent commits found.</li>
      <% } %>
    </ul>
  </aside>
</main>

<%- include('overall_footer'); %>
