</main>
<footer>
  <a href="/disclaimer">
    <i class="fa-solid fa-circle-info"></i>Disclaimer
  </a>
  <a href="/cookie-policy">
    <i class="fa-solid fa-cookie"></i>Cookie Policy
  </a>
  <a href="https://github.com/TeamHypersomnia/PressKit/blob/main/README.md#intro" target="_blank" aria-label="Press Kit">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>Press Kit
  </a>
  <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>GitHub
  </a>
  <a href="https://store.steampowered.com/app/2660970/Hypersomnia/" target="_blank" aria-label="Steam">
    <i class="fa-brands fa-steam"></i>Steam
  </a>
  <a href="https://discord.gg/YC49E4G" target="_blank" aria-label="Discord">
    <i class="fa-brands fa-discord"></i>Discord
  </a>
  <a href="https://t.me/hypersomnia_io" target="_blank" aria-label="Telegram">
    <i class="fa-brands fa-telegram"></i>Telegram
  </a>
  <a href="https://youtube.com/@teamhypersomnia" target="_blank" aria-label="YouTube">
    <i class="fa-brands fa-youtube"></i>YouTube
 </a>
  <a href="https://x.com/teamhypersomnia" target="_blank" aria-label="X">
    <i class="fa-brands fa-x-twitter"></i>X
  </a>
  <a href="https://pol.social/@hypersomnia" target="_blank" aria-label="Mastodon">
    <i class="fa-brands fa-mastodon"></i>Mastodon
  </a>
</footer>
</div>
<script async src="<%= NODE_ENV === 'production' ? CDN + '/assets/scripts/main.min.js?' + version : '/assets/scripts/main.js?' + version %>"></script>
</body>
</html>
