</article>
<footer>
  <div>
    <a href="/disclaimer">Disclaimer</a>
    <a href="/cookie-policy">Cookie Policy</a>
    <a href="https://github.com/TeamHypersomnia/PressKit/blob/main/README.md#intro" target="_blank" aria-label="Press Kit">Press Kit</a>
    <a href="/contact">Contact</a>
  </div>
  <div>
    <a href="https://discord.gg/YC49E4G" target="_blank" aria-label="Discord"><i class="fa fa-brands fa-discord" aria-hidden="true"></i></a>
    <a href="https://youtube.com/@teamhypersomnia" target="_blank" aria-label="YouTube"><i class="fa fa-brands fa-youtube" aria-hidden="true"></i></a>
    <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank" aria-label="GitHub"><i class="fa fa-brands fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/teamhypersomnia" target="_blank" aria-label="Twitter"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
    <a href="https://store.steampowered.com/app/2660970/Hypersomnia/" target="_blank" aria-label="Steam"><i class="fa-brands fa-steam" aria-hidden="true"></i></a>
  </div>
</footer>
</div>
<script src="/assets/scripts/sortable.min.js" defer></script>
<script src="/assets/scripts/main.js?v={{ version }}" defer></script>
</body>
</html>
