- name: Deploy nginx configuration
  template:
    src: ../templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
    validate: 'nginx -t -c %s'
  become: yes
  notify: nginx reload

- name: Ensure nginx is enabled and running
  systemd:
    name: nginx
    enabled: yes
    state: started
  become: yes

handlers:
  - name: nginx reload
    systemd:
      name: nginx
      state: reloaded
    become: yes
