---
# Nginx Configuration
- name: Deploy nginx configuration from template
  template:
    src: ../templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'
    backup: yes
    validate: 'nginx -t -c %s'
  notify: reload nginx
  become: yes

- name: Ensure nginx service is enabled and started
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes