---
# Nginx setup
- name: Create nginx config
  template:
    src: ../templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  become: yes
  notify: reload nginx

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes
