---
# Nginx setup
- name: Deploy nginx config
  template:
    src: ../templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
    validate: '/usr/sbin/nginx -t -c %s'
    backup: yes
  notify: reload nginx
  become: yes

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes