---
# Nginx setup

- name: Deploy nginx config (force overwrite)
  template:
    src: ../templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    backup: yes
  notify: restart nginx
  become: yes

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes
