---
# Nginx setup
- name: Render nginx config to temporary location
  template:
    src: ../templates/nginx.conf.j2
    dest: /tmp/nginx.conf
    mode: '0644'
  become: yes

- name: Test nginx configuration
  command: /usr/sbin/nginx -t -c /tmp/nginx.conf
  register: nginx_test
  ignore_errors: yes
  become: yes

- name: Fail if nginx config is invalid
  fail:
    msg: "Nginx config is invalid:\n{{ nginx_test.stderr }}"
  when: nginx_test.rc != 0

- name: Deploy nginx config
  copy:
    src: /tmp/nginx.conf
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  notify: reload nginx
  become: yes

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes

