<h1>Admin Dashboard</h1>
<div class="btn-group">
  <div class="btn"><a href="{{ url }}admin/system"{% if page == "System" %} class="active"{% endif %}><span><i class="fa-solid fa-circle-info"></i></span><span>System</span></a></div>
  <div class="btn"><a href="{{ url }}admin/visitors"{% if page == "Visitors" %} class="active"{% endif %}><span><i class="fa-solid fa-users"></i></span><span>Visitors</span></a></div>
  <div class="btn"><a href="{{ url }}admin/users"{% if page == "Users" %} class="active"{% endif %}><span><i class="fa fa-brands fa-discord"></i></span><span>Users</span></a></div>
  <div class="btn"><a href="{{ url }}admin/creators"{% if page == "Creators" %} class="active"{% endif %}><span><i class="fa-solid fa-lock"></i></span><span>Creators</span></a></div>
</div>
