{% include 'overall_header.twig' %}
{% include 'admin/admin_dashboard.twig' %}

<div class="table-responsive">
  <table id="authorized_mappers" class="sortable">
    <thead>
      <tr>
        <th>Shorthand</th>
        <th>Allow creating new</th>
        <th>Maps</th>
        <th>API Key</th>
      </tr>
    </thead>
    <tbody>
      {% if mappers == false %}
      <tr>
        <td colspan="4" class="error">Failed to fetch authorized mappers</td>
      </tr>
      {% else %}
      {% for k, v in mappers %}
      <tr>
        <td>{{ v.shorthand }}</td>
        <td>{% if v.allow_creating_new == true %}yes{% else %}no{% endif %}</td>
        <td><ul class="none">{% for m in v.maps %}<li>{{ m }}</li>{% endfor %}</ul></td>
        <td><span class="tocopy"><code>{{ k }}</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% include 'overall_footer.twig' %}
