{% include 'overall_header.twig' %}
{% include 'admin/admin_dashboard.twig' %}

<form class="form-inline" method="POST">
  <div class="form-group">
    <label for="key">Memcached key</label>
    <select name="key" id="key">
      <option value="arenas">arenas</option>
      <option value="commits">commits</option>
      <option value="visitors">visitors</option>
      <option value="weapons">weapons</option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" value="Purge the cache">
  </div>
</form>

<dl>
  <dt>Memcached version</dt><dd>{{ memcached_version }}</dd>
  <dt>Memcached uptime</dt><dd>{{ memcached_uptime }}</dd>
  <dt>Memcached bytes used</dt><dd>{{ memcached_bytes }}</dd>
</dl>

{% include 'overall_footer.twig' %}
