{% include 'overall_header.twig' %}
{% include 'admin/admin_dashboard.twig' %}

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>Package</th>
        <th>Version</th>
        <th>Latest</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% if packages == false %}
      <tr>
        <td colspan="4">Failed to fetch packages</td>
      </tr>
    {% else %}
      {% for v in packages %}
        <tr>
          <td><a href="{{ v.url }}" target="_blank">{{ v.name }}</a></td>
          <td>{{ v.version }}</td>
          <td>{{ v.latest }}</td>
          <td>{% if v.version == v.latest %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

{% include 'overall_footer.twig' %}
