/* GENERAL */
* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #212529;
  color: #dee2e6;
}

h1, h2 {
  color: #fff;
  padding-bottom: 0.3em;
  border-bottom: 1px dashed rgb(100 100 111 / 20%);
  margin: 5px 0;
  font-weight: 400;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.4em;
  padding-top: 30px;
}

p, li {
  font-size: 0.9em;
  line-height: 20px;
}

a {
  color: #42c3c3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin-top: 0;
  background-color: #1f2327;
  overflow: auto;
  border: 1px solid rgb(100 100 111 / 20%);
  padding: 16px;
  font-size: 0.9em;
}

code {
  font-size: 1em;
}

canvas {
  padding-top: 15px;
}

article {
  margin-top: 30px;
  padding: 1.5rem;
  background: #1b1f22;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

ul {
  padding-left: 2em;
}

ul.none {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

ul.none > li {
  padding-bottom: 10px;
  line-height: normal;
}

kbd {
  background-color: #000;
  border: 1px solid white;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  border-radius: 4px;
}

strong, th, td:nth-child(1) {
  font-weight: 500;
}

.radio {
  margin-top: 15px;
}

.radio > label {
  cursor: pointer;
}

.copy {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.error {
  color: #BC2A4D;
}

.margin {
  margin-top: 15px;
}

.strong {
  display: none;
}

.three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.subname {
  font-size: 13px;
  font-style: italic;
}

/* ARENAS */
.alert {
  margin-bottom: 15px;
  padding: 15px 15px 5px 15px;
  font-size: 0.9em;
  background-color: #1e2225;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ababab;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert strong {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
}

.arenas {
  padding: 15px 0;
}

.arenas > a > div.subname {
  height: 1px;
  color: #cdcdcd;
}

.arenas > a {
  padding: 50px 0;
  text-align: center;
  text-decoration: none;
}

.arenas > a:hover > .arena_name {
  color: #fff;
}

.arena_miniature {
  max-height: 150px;
  max-width: 200px;
}

.arena_name {
  display: block;
  font-size: 0.9em;
  color: #dee2e6;
}

.arena_author {
  display: block;
  font-size: 0.8em;
  color: #dee2e6;
}

.miniature {
  margin-top: 15px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

dt, dd {
  font-size: 0.9em;
}

dt {
  font-size: 0.9em;
  display: inline;
  color: #fff;
}

dd {
  margin: 5px 0 15px 0;
}

/* DESKTOP */
@media screen and (min-width: 1300px) {
  article {
    border: 1px solid rgb(100 100 111 / 20%);
    min-height: 600px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  .box {
    display: grid;
    grid-template-columns: 50% calc(50% - 20px);
    grid-gap: 20px;
  }

  nav {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgb(100 100 111 / 20%);
  }

  nav > .flex {
    height: 58px;
  }

  nav a:last-child, nav > div > form {
    margin-left: auto;
  }

  th, td {
    font-size: 0.9em;
  }

  .container {
    width: 1300px;
    margin: 0 auto;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 15px;
  }

  .arenas {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .arenas > a {
    width: calc(25% - 20px);
    margin: 10px;
  }

  .arena {
    display: flex;
  }

  .miniature, .details {
    width: 50%;
    min-height: 500px;
  }

  nav a.active {
    color: rgb(53 239 239);
    border-bottom: 1px solid rgb(1, 192, 192);
  }

  footer {
    justify-content: space-between;
  }

  .footer-left a {
    margin: 5px 5px;
    font-size: 0.9em;
  }

  .footer-left a:hover {
    color: #fff;
  }
  
  .footer-left a:first-child {
    margin: 5px 5px 0 0;
  }

  #firearms th {
    width: 11%;
  }
  
  #melees th {
    width: 9%;
  }
  
  #explosives th, #spells th {
    width: 14%;
  }
  
  #authorized_mappers th, #visitors th, #users th {
    width: 25%;
  }
}

/* MOBILE */
@media screen and (max-width: 1300px) {
  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  nav > .flex {
    height: auto;
    justify-content: space-around;
  }

  .flex > a {
    padding: 20px 10px;
    font-size: 1em;
  }

  .flex > form > button {
    font-size: 1em;
  }

  th, td {
    font-size: 0.85em;
  }

  .parent {
    display: grid;
    grid-template-columns: none;
    grid-gap: 15px;
    row-gap: 15px;
  }

  article {
    margin-top: 0;
  }

  .responsive {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert {
    margin: 0 auto 20px;
  }

  .arenas {
    display: grid;
    grid-template-columns: none;
    grid-gap: 15px;
    row-gap: 15px;
  }

  .arenas {
    display: flex;
    flex-direction: column;
  }

  .footer-left {
    font-size: 0.9em;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-group {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    padding: 5px 0;
  }

  footer {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    margin: 30px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-height: 200px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* TABLES */
table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

.table-responsive {
  overflow-x: auto;
  margin-bottom: 10px;
}

tr:nth-child(even) {
  background-color: #1f2327;
}

th, td {
  padding: 8px 8px;
  white-space: nowrap;
  margin-right: 10px;
}

th {
  color: #fff;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgb(100 100 111 / 20%)
}

td, tr {
  border: 1px solid rgb(100 100 111 / 20%);
}

thead > tr {
  border: 1px solid transparent;
}

#controls > tbody > tr > td {
  white-space: normal;
  border: none;
}

#controls > tbody > tr {
  white-space: normal;
  border: none;
}

#controls > tbody > tr:nth-child(even) {
  background-color: transparent;
}

#controls td:nth-child(1), #controls th:nth-child(1) {
  text-align: right;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: #464545;
}

::-webkit-scrollbar-corner {
  background: #222;
}

/* SORTABLE */
.sortable {
  border-spacing: 0;
}

.sortable th {
  cursor: pointer;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable th:hover::after {
  color: inherit;
  content: " \025B8";
}

.sortable th::after {
  color: transparent;
  content: " \025B8";
}

.sortable th.dir-d::after {
  color: inherit;
  content: " \025BE";
}

.sortable th.dir-u::after {
  color: inherit;
  content: " \025B4";
}

.sortable th.no-sort {
  pointer-events: none;
}

/* SERVER */
.spectator {
  color: rgb(200, 200, 200);
}

.metropolis {
  color: rgb(240, 70, 255);
}

.atlantis {
  color: rgb(0, 255, 0);
}

.resistance {
  color: rgb(255, 80, 0);
}

/* NAV */
nav {
  background-color: #1b1f22;
}

nav a {
  display: block;
  color: #e7e7e7;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

nav a.active {
  color: rgb(53 239 239);
}

nav > .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav > div > form > button {
  display: block;
  color: #e7e7e7;
  text-align: center;
  padding: 20px 20px 20px 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

nav > div > form > button:hover {
  color: #fff;
}

/* TABS */
.tab {
  margin-top: 15px;
  display: flex;
  overflow-x: hidden;
}

.tab button {
  background-color: inherit;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}

.tab button:hover {
  color: #fff;
}

.tab button.active {
  color: rgb(53 239 239);
  border-bottom: 1px solid rgb(1, 192, 192);
}

.tabcontent {
  display: none;
}

.tablinks {
  font-weight: 500;
  color: #dee2e6;
  font-size: 14px;
}

/* YOUTUBE */
.yt {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.yt li {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  width: 240px;
  height: 134px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
  opacity: 0.8;
}

.yt li:hover {
  opacity: 1;
  border-color: rgb(1, 192, 192);
}

/* FORMS */
.form {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 200px;
}

label {
  font-size: 0.9em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group>label {
  display: block;
  margin-bottom: 5px;
  color: #dee2e6;
  font-size: 0.9em;
}

.form-group {
  margin-bottom: 10px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group > input {
  font-size: 0.9em;
  color: #dee2e6;
  text-decoration: none;
  border: 1px solid rgb(100 100 111 / 20%);
  padding: 8px 15px;
  display: inline-block;
  border-radius: 4px;
  transition: all .3s;
  background-color: transparent;
  outline: none;
}

.form-group > input:focus {
  color: rgb(1, 192, 192);
  border-color: rgb(1, 192, 192);
}

.form-group > input[type="submit"] {
  width: auto;
  cursor: pointer;
}

.form-group > input[type="submit"]:hover {
  color: rgb(1, 192, 192);
  border-color: rgb(1, 192, 192);
}

/* FOOTER */
footer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 15px 0;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 200px;
  align-content: flex-start;
}

footer .footer-left a {
  color: #cdcdcd;
}

footer .footer-lfet a:hover {
  color: #fff;
}

footer .footer-left p {
  margin: 20px;
  color: #dee2e6;
  font-size: 0.9em;
}

footer .footer-right {
  display: flex;
  gap: 15px;
}

footer .footer-right a {
  display: inline-block;
  font-size: 1em;
  color: #cdcdcd;
}

footer .footer-right a:hover {
  color: #fff;

}

/* BUTTONS */
.btn-group {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.btn > a > span {
  display: block;
  text-align: center;
}

.btn {
  width: 100%;
}

.btn a {
  font-size: 0.9em;
  color: #dee2e6;
  text-decoration: none;
  border: 1px solid rgb(100 100 111 / 20%);
  padding: 8px 15px;
  display: inline-block;
  border-radius: 4px;
  transition: all .3s;
  font-weight: 500;
  width: calc(100% - 40px);
}

.btn a:hover {
  color: rgb(1, 192, 192);
  border: 1px solid rgb(1, 192, 192);
}

div.btn > form > button {
  font-size: 0.9em;
  color: #dee2e6;
  text-decoration: none;
  border: 1px solid rgb(100 100 111 / 20%);
  padding: 8px 15px;
  display: inline-block;
  border-radius: 4px;
  transition: all .3s;
  font-weight: 500;
  width: 100%;
  height: 52px;
  background: transparent;
  cursor: pointer;
}

div.btn > form > button:hover {
  color: rgb(1, 192, 192);
  border-color: rgb(1, 192, 192);
}

div.btn > form > button > span {
  display: block;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #dee2e6;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}
