* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-variation-settings: normal;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.81);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 8, 5) 400px), url('/assets/images/bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000805;
  background-size: 100%;
}

h1, h2 {
  padding: 0;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 0.75em;
  color: #ddd;
}

p, li {
  line-height: 1.5;
  font-size: 0.96em;
  margin-top: 0;
}

p {
  word-break: break-word;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #22c4ab;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #1FFFDF;
  text-decoration: none;
}

code {
  word-wrap: break-word;
  color: rgb(230, 133, 181);
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: .875em;
}

article > div > div:nth-child(1) > img {
  margin-bottom: 8px;
}

ul.none {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.none > li {
  padding-bottom: 8px;
  line-height: normal;
  margin-bottom: 8px;
}

.panel > ul.none > li {
  border-bottom: 1px solid #38383b;
}

ul.none > li:first-child {
  margin-top: 8px;
}

ul.none > li:last-child {
  border-bottom: none;
}

li > a {
  display: inline-block;
}

small {
  font-size: .875em;
}

abbr {
  text-decoration: none;
}

strong, th, td:nth-child(1), label, dt, b {
  font-weight: 500;
}

.center {
  justify-content: center;
}

.radio {
  font-size: 0.9em;
  margin-top: 15px;
}

.radio > label {
  cursor: pointer;
}

.strong {
  display: none;
}

.three {
  gap: 1em;
  display: grid;
  justify-content: space-around;
  margin: 1.5em 0;
}

.avatar {
  border-radius: 4px;
}

.arenas > a {
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
}

.arenas > a:hover > .arena_name, .arenas > a:hover > .arena_author {
  color: #fff;
}

.arena_miniature {
  max-height: 150px;
  max-width: 200px;
}

.arena_name {
  display: block;
  margin-top: 0.5em;
  color: #bbb;
  font-weight: 500;
}

.arena_author {
  display: block;
  font-size: 0.8em;
  margin-top: 2px;
  color: #aaa;
}

.miniature {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

dl {
  margin-top: 0;
}

dt, dd {
  font-size: 0.9em;
}

dt {
  font-size: 0.9em;
  display: inline;
  color: #ddd;
}

dd {
  margin: 0 0 15px 0;
  line-height: 1.5;
}

/* Desktop */
@media screen and (min-width: 1100px) {
  .server-row-card {
    width: calc(33% - 0.5em);
  }

  .arena_name {
    font-size: 0.9em;
  }

  .arena_author {
    font-size: 0.85em;
  }

  .dl {
    padding: 1.25em;
  }

  h1, h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  .dl > img {
    height: 64px;
    width: auto;
  }

  th {
    min-width: 80px;
  }

  .downloads {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    margin: 2rem 0;
  }

  footer {
    border-top: 1px solid rgba(143, 142, 142, 0.35);
    font-size: 0.9em;
  }

  .panel {
    margin-bottom: 1.5em;
  }

  article {
    margin-top: 1em;
    min-height: 75vh;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  .box {
    display: grid;
    grid-template-columns: 50% calc(50% - 1em);
    grid-gap: 1em;
  }

  .box-controls {
    grid-template-columns: 50% calc(50% - 3em);
    grid-gap: 3em;
    align-items: start;
  }

  .btn a {
    min-width: 100px;
  }

  nav a {
    padding: 20px 10px;
  }

  nav a.steam {
    padding: 0;
    padding-top: 11px;
  }

  nav > div > form {
    margin-left: 0;
  }

  nav > .flex {
    justify-content: space-between;
  }

  th, td {
    font-size: 0.85em;
  }

  .container {
    width: 1080px;
    margin: 0 auto;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-gap: 1.5em;
  }

  .arenas {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 20px;
  }

  .arenas > a {
    width: calc(25% - 15px);
  }

  .arena {
    display: flex;
  }

  .miniature, .details {
    width: 50%;
  }

  .details > .btn-group {
    margin-top: 0;
  }

  footer {
    width: 100%;
    padding: 1.5em 0;
    margin: 3em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 1.25em;
  }
}

/* Mobile */
@media screen and (max-width: 1100px) {
  .alert {
    margin: 0 1em;
  }

  body {
    background-size: 150% auto;
    background-position: top center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 8, 5) 300px), url('/assets/images/bg.jpg');
  }

  .arena_name {
    font-size: 0.85em;
  }

  .arena_author {
    font-size: 0.8em;
  }

  .server-row-card {
    width: 100%;
  }

  .server-actions {
    display: none !important;
  }

  .dl {
    padding: 1em;
  }

  .dl > img {
    height: 32px;
    width: auto;
  }
  
  p {
    font-size: 0.9em;
  }

  dd, dt {
    font-size: 0.8em;
  }

  h1, h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }


  .downloads {
    margin: 1.5rem 0;
  }

  .mininav {
    padding: 0 2em;
  }

  .mininav a {
    padding: 0.75rem 0.5rem !important;
    width: 50%;
  }

  .panel {
    margin-bottom: 1em;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  .btn-group {
    justify-content: center;
  }

  nav > div > a {
    padding: 1em;
  }

  nav > .flex {
    height: auto;
    justify-content: center;
  }

  .flex > a {
    font-size: 0.85em;
  }

  .flex > form > button {
    font-size: 1em;
  }

  th, td {
    font-size: 0.8em;
  }

  .parent {
    display: grid;
    grid-template-columns: none;
  }

  article {
    margin-top: 0;
    padding: 0 1em;
  }

  .responsive {
    width: 100%;
    height: auto;
    border-radius: 4px;
    max-width: 400px;
  }

  .arenas {
    display: grid;
    grid-template-columns: none;
    grid-gap: 15px;
    row-gap: 15px;
  }

  .arenas {
    display: flex;
    flex-direction: column;
  }

  .button {
    padding: 5px 0;
  }

  footer {
    box-sizing: border-box;
    margin: 5em 0;
    padding: 0 1.5em;
    justify-content: space-between;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    font-size: 0.9em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-responsive {
  overflow-x: auto;
  margin-bottom: 1em;
}

tr:nth-child(even) {
  background-color: rgba(1, 22, 21, 0.48);
}

th, td {
  padding: 8px;
  white-space: nowrap;
}

.maxwidth > tbody > tr > td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  padding: 12px 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  color: #ddd;
  background: rgba(0, 49, 58, 0.32);
  border: 1px solid rgb(0, 49, 58);
}

td, tr {
  border: 1px solid rgb(16, 35, 38);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: rgb(100 100 111 / 25%);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.sortable {
  border-spacing: 0;
}

.sortable th {
  cursor: pointer;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sortable th:hover {
  color: #fff;
}

.sortable th:hover::after {
  color: inherit;
  content: " \025B8";
}

.sortable th::after {
  color: transparent;
  content: " \025B8";
}

.sortable th.dir-d::after {
  color: inherit;
  content: " \025BE";
}

.sortable th.dir-u::after {
  color: inherit;
  content: " \025B4";
}

.sortable th.no-sort {
  pointer-events: none;
}

.spectator {
  color: rgb(200, 200, 200);
}

.metropolis {
  color: rgb(240, 70, 255);
}

.atlantis {
  color: rgb(0, 255, 0);
}

.resistance {
  color: rgb(255, 80, 0);
}

.logo {
  padding: 0;
}

.logo > span > img {
  height: 40px;
  margin-top: 10px;
  padding-right: 10px;
}

.mininav {
  display: flex;
  justify-content: space-between;
}

.mininav a {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 0.8em;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  color: #d3d3d3;
  font-weight: 600;
}

.mininav a:hover {
  color: #fff;
  text-decoration: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 500;
  font-size: 1em;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

nav a.active {
  color: #1FFFDF;
}

nav a.active:hover {
  color: #3fffe2;
}

nav > .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 26px 58px 0 rgba(0,0,0,.22),0 5px 14px 0 rgba(0,0,0,.18);
}

.form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.form-inline {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.form-group>label {
  font-size: 0.9em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  font-size: 0.9em;
  display: block;
  margin-bottom: 8px;
}

.form-hint {
  margin-bottom: 8px;
  display: block;
  color: #8f8e8e;
  font-size: 0.8em;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.checkbox>label, .checkbox>input {
  cursor: pointer;
}

input[type='text'], input[type='submit'], textarea, select, option {
  color: #e7e7e7;
  text-decoration: none;
  border: 1px solid rgb(0, 49, 58);
  padding: 0.75em;
  border-radius: 4px;
  outline: none;
  font-size: 0.85em;
  margin-bottom: 8px;
  width: 100%;
}

input[type='text'], textarea, select, option {
  background-color: rgb(0, 14, 13);
}

input[type='submit'] {
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
}

input[type="submit"] {
  width: auto;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

footer > a > i {
  margin-right: 0.2em;
}

footer > a {
  color: #8f8e8e;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 600;
}

footer > a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-group {
  width: 100%;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 8px;
  flex-wrap: wrap;
}

.btn {
  flex: 1 0 10%;
  font-size: 0.85em;
}

.btn a, .btn button {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
  border: 1px solid rgb(0, 49, 58);
  font-size: inherit;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.btn a:hover, .btn button:hover {
  color: #ddd;
  border-color: rgba(255, 255, 255, 0.2);
}

.btn > button {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
  border: 1px solid rgb(0, 49, 58);
  font-size: inherit;
  width: 100%;
  text-align: center;
}

.btn > a > span:nth-child(1) {
  margin-right: 0.25em;
}

.btn > button:hover {
  color: #ddd;
}

.btn > a.active, .btn > button.active {
  color: #fff;
}

.btn > button > span {
  display: block;
  text-align: center;
}

.btn > button > span > img {
  width: 24px;
  height: 24px;
}

.btn .btn-disconnect {
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

.btn .btn-disconnect:hover {
  background: rgba(255, 77, 77, 0.5);
  color: #fff;
}

.notice {
  margin-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e7e7e7;
  transition: background-color 5000s ease-in-out 0s;
}

.alert {
  padding: 1em;
  font-size: 0.9em;
  color: #ddd;
  border-radius: 4px;
  margin-top: 2.5em;
  line-height: 1.5;
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.alert > a {
  color: #abe462;
}

.alert > a:hover {
  color: #50FF50;
}
.external-link-icon::after {
  content: '\2197'; /* Unicode character for an arrow */
}

.rank {
  height: 16px;
  vertical-align: bottom;
  padding-right: 4px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-center {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 8, 0, 0.2);
}

.logo-center > a {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.casual {
  color: #B5B5B5;
}

.zeroplayers {
  color: #777 !important;
  background: linear-gradient(135deg, rgba(0, 27, 32, 0.6) 0%, rgba(0, 11, 13, 0.9) 100%) !important;
  border: 1px solid rgb(0, 27, 32) !important;
}

.ranked {
  color: rgb(0, 255, 255);
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: rgb(0, 255, 255);
  }
  100% {
    color: rgb(255, 0, 255);
  }
}

a.white {
  color: rgba(255, 255, 255, 0.81);
}

a.white:hover {
  color: #fff;
}

.mr {
  padding-right: 3px;
}

.svname {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 260px;
}


.downloads a {
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.mt-2 {
  margin-top: 2em;
}

.dl {
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

.dl:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.dl h3 {
  font-weight: 600;
  color: rgb(224, 227, 231);
  margin: 0;
}

.dl > span {
  font-size: .875em;
}

.dl > code {
  font-size: .875em;
  color: rgb(230, 133, 181);
}
.dl > img {
  margin-bottom: 0.25em;
}
.div1 {
  grid-area: 1 / 1 / 2 / 4;
}
.div2 {
  grid-area: 1 / 4 / 2 / 7;
}
.div3 {
  grid-area: 2 / 1 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 5;
}
.div5 {
  grid-area: 2 / 5 / 3 / 7;
}

/* Servers */
.server-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
  margin-bottom: 1rem;
}

.server-row-card {
  border-radius: .375em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: linear-gradient(135deg, rgba(0, 51, 60, 0.6) 0%, rgba(0, 49, 58, 0.9) 100%);
  border: 1px solid #00A68E;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.server-heading {
  font-size: 0.95em;
  color: #ddd;
  display: block;
}

.server-heading:hover {
  color: #fff;
}

.server-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.server-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85em;
}

.server-player-count {
  font-weight: bold;
}

.server-actions {
  font-size: 0.85em;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}


.name-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.weapon-name {
  flex-grow: 1;
  text-align: left;
}
