---
- name: Setup Hypersomnia Gameserver Only
  hosts: all
  gather_facts: yes
  vars:
    firewall_allowed_ports:
      - 22/tcp    # SSH
      - "{{ gameserver_port }}/udp"
      - "{{ webrtc_first_port }}:{{ webrtc_last_port }}/udp"

  pre_tasks:
    - name: Set default port variables
      set_fact:
        gameserver_port: "{{ gameserver_port | default(8412) }}"
        webrtc_first_port: "{{ webrtc_first_port | default(9000) }}"
        webrtc_last_port: "{{ webrtc_last_port | default(9010) }}"
      tags: [always]

  handlers:
    - name: reload systemd
      systemd:
        daemon_reload: yes
      become: yes

    - name: restart gameserver
      systemd:
        name: hypersomnia
        state: restarted
      become: yes
  
  tasks:
    - name: Common setup
      import_tasks: tasks/common.yml
      tags: [common, setup]

    - name: Download Hypersomnia binary
      import_tasks: tasks/hypersomnia_binary.yml
      tags: [binary, servers]

    - name: Create server ports config
      template:
        src: ../templates/server_ports.json.j2
        dest: "{{ ansible_user_dir }}/.config/Hypersomnia/user/conf.d/server_ports.json"
        mode: '0644'
      become: yes
      notify: restart gameserver

    - name: Gameserver setup
      import_tasks: tasks/gameserver.yml
      tags: [gameserver, servers]
