---
- name: Deploy Hypersomnia Infrastructure
  hosts: web_servers
  gather_facts: yes

  handlers:
    - name: reload nginx
      systemd:
        name: nginx
        state: reloaded
      become: yes

    - name: reload systemd
      systemd:
        daemon_reload: yes
      become: yes

    - name: restart masterserver
      systemd:
        name: masterserver
        state: restarted
      become: yes

    - name: restart gameserver
      systemd:
        name: hypersomnia
        state: restarted
      become: yes

  tasks:
    - name: Common setup
      import_tasks: tasks/common.yml
      tags: [common, setup]

    - name: Node.js setup
      import_tasks: tasks/nodejs.yml
      tags: [nodejs, setup]

    - name: Certbot setup
      import_tasks: tasks/certbot.yml
      tags: [certbot, setup]

    - name: Nginx setup
      import_tasks: tasks/nginx.yml
      tags: [nginx, setup]

    - name: Data setup
      import_tasks: tasks/data.yml
      tags: [data, setup]

    - name: Homepage deployment
      import_tasks: tasks/homepage.yml
      tags: [homepage, app]

    - name: Download Hypersomnia binary
      import_tasks: tasks/hypersomnia_binary.yml
      tags: [binary, servers]

    - name: Masterserver setup
      import_tasks: tasks/masterserver.yml
      tags: [masterserver, servers]

    - name: Gameserver setup
      import_tasks: tasks/gameserver.yml
      tags: [gameserver, servers]
