{% include 'overall_header.twig' %}

<h1>Contact</h1>
<p>Our main communication point is <a href="https://discord.gg/YC49E4G" target="_blank">our official discord</a>, where you can:</p>
<ul>
  <li>Report any glitches or problems you encounter within the game.</li>
  <li>Seek assistance and guidance regarding game-related queries.</li>
  <li>Showcase your imaginative game projects and creations.</li>
  <li>Share your innovative ideas and recommendations for the game's improvement.</li>
</ul>
<img class="avatar" src="/assets/images/h.png" alt="discord" width="128" height="128">
<dl>
  <dt>Team Hypersomnia</dt>
  <dd><span class="tocopy"><code>https://discord.gg/YC49E4G</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></dd>
</dl>

{% include 'overall_footer.twig' %}
