{% include 'overall_header.twig' %}

<h2>Contact</h2>
<p>
    <strong>Discord Server</strong><br>
    <i class="subname">Bugs / feedback / dev-questions</i><br>
    <a href="https://discord.gg/YC49E4G">https://discord.gg/YC49E4G</a>
</p>

{% include 'overall_footer.twig' %}
