{% include 'overall_header.twig' %}

<h1>Discord Server</h1>
<p><a href="https://discord.gg/YC49E4G" target="_blank">https://discord.gg/YC49E4G</a><br><i class="subname">Bugs / feedback / dev-questions</i></p>

{% include 'overall_footer.twig' %}
