{% include 'overall_header.twig' %}

<h1>Cookie Policy</h1>
<p>This Cookie Policy explains how Hypersomnia.xyz ("we," "us," or "our") uses cookies and similar tracking technologies when you visit our website at <a href="{{ url }}">{{ url }}</a> ("Website").</p>

<h2 class="extra-padding">What Are Cookies?</h2>
<p>Cookies are small text files that are placed on your computer or mobile device when you visit a website. They are widely used to make websites work more efficiently and to provide information to website owners.</p>

<h2 class="extra-padding">How We Use Cookies</h2>
<p>We use cookies for a variety of purposes, including:</p>
<ul>
<li><strong>Essential Cookies:</strong> These cookies are necessary for the operation of our Website. They enable you to navigate our site and use its features.</li>
<li><strong>Analytical/Performance Cookies:</strong> These cookies help us understand how visitors use our Website. They allow us to analyze data, such as the number of visitors, which pages are visited most, and how users interact with our site. This information helps us improve the Website's performance.</li>
<li><strong>Functionality Cookies:</strong> These cookies enable us to remember choices you make on our Website (such as your username, language, or region) and provide enhanced, more personalized features.</li>
<li><strong>Targeting/Advertising Cookies:</strong> We may use these cookies to deliver advertisements that are relevant to your interests. We may share this information with third-party advertisers to show you ads that may be of interest to you.</li>
</ul>

<h2 class="extra-padding">Third-Party Cookies</h2>
<p>Some of the cookies on our Website may be placed by third-party services. These third parties may use their cookies to collect information about your online activities across different websites. We do not control these cookies or the data collected through them, and we encourage you to review the privacy policies of these third-party services.</p>

<h2 class="extra-padding">Cookie Consent</h2>
<p>By using our Website, you consent to the use of cookies in accordance with this Cookie Policy. You can manage your cookie preferences by adjusting the settings in your web browser. Please note that disabling cookies may affect the functionality of our Website.</p>

<h2 class="extra-padding">Changes to This Cookie Policy</h2>
<p>We may update this Cookie Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any changes will be posted on this page, and the date of the latest revision will be indicated at the top of the policy.</p>

{% include 'overall_footer.twig' %}
