{% include 'overall_header.twig' %}

<h2>Controls</h2>
<p>You can reconfigure all bindings by going to Settings->Controls tab.</p>
<table class="controls">
  <thead>
    <tr>
      <th>Key</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <kbd>WSAD</kbd>
      </td>
      <td>
        Move around
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Shift</kbd>
      </td>
      <td>
        Sprint, it drains stamina.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Space</kbd>
      </td>
      <td>
        Dash, it drains quite a lot of stamina.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Left Ctrl</kbd>
      </td>
      <td>
        Move quietly
      </td>
    </tr>
    <tr>
      <td>
        <kbd>B</kbd>
      </td>
      <td>
        Open the shop. Usually, the shop is off during warmup.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>M</kbd>
      </td>
      <td>
        Change team. You should just pick Auto-assign to preserve balance.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>G</kbd>
      </td>
      <td>
        Drop the most recently wielded item.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>H</kbd>
      </td>
      <td>
        Hide the most recently wielded item. Can fail if you have no space in your inventory!
      </td>
    </tr>
    <tr>
      <td>
        <kbd>E</kbd>
      </td>
      <td>
        Pick up items/defuse the bomb. If you move when defusing, the timer is reset, so stay still. You can shoot, though. Just remember to keep the trigger in the bomb's range, they have to touch.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>C</kbd>
      </td>
      <td>
        Pull out the bomb (as a terrorist)
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Wheel Down</kbd>
      </td>
      <td>
        Quickly throw a knife (or another melee weapon you happen to have).
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Wheel Up</kbd>
      </td>
      <td>
        Quickly throw two knives (or other melee weapons you happen to have).
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Middle mouse button</kbd>
      </td>
      <td>
        Quickly throw a Force grenade.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Mouse4</kbd>
      </td>
      <td>
        Quickly throw a Flashbang.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Mouse5</kbd>
      </td>
      <td>
        Quickly throw a PED grenade (destroys Personal Electricity).
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Q</kbd>
      </td>
      <td>
        Quickly switch to the most recently drawn weapon - or any other at your disposal. Can fail if you have no space in your inventory for the currently held weapon!
      </td>
    </tr>
    <tr>
      <td>
        <kbd>0, 1, 2, ..., 9</kbd>
      </td>
      <td>
        Choose weapons from the hotbar.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>TAB</kbd>
      </td>
      <td>
        Match statistics, e.g. the players and their scores.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>F8</kbd>
      </td>
      <td>
        Admininistration panel for your server where you can change maps or restart the match.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>Tilde (~)</kbd>
      </td>
      <td>
        Release the mouse cursor to let you interact with GUI. You probably won't use it often, but it's useful if you want to drop a specific item from your inventory - simply press the right mouse button whilst dragging it. Pressing the tilde again puts you back into the game and lets you regain control over the crosshair.
      </td>
    </tr>
    <tr>
      <td>
        <kbd>LMB</kbd>
      </td>
      <td>
        Use the item in your right hand, so:<br>
        for the bomb: plant it<br>
        for a nade: unpin it<br>
        for a firearm: shoot it<br>
        for a melee weapon: a wide swing
      </td>
    </tr>
    <tr>
      <td>
        <kbd>RMB</kbd>
      </td>
      <td>
        Use the item in your left hand, or a secondary function of the item in your right hand (only if your left hand is unoccupied), for example - burst fire for the AO44 revolver. Also: a narrow, powerful swing for a melee weapon. Unpins the nade to throw it under your feet, instead of throwing it far.
      </td>
    </tr>
  </tbody>
</table>

<h2 class="extra-padding">Videos</h2>
<ul class="video-t">
  <li data-code="q1rfIy06_xo"></li>
</ul>

{% include 'overall_footer.twig' %}
