{% include 'overall_header.twig' %}

<div class="parent">
  <div>
    <h2>Introduction</h2>
    <p>Hypersomnia is a fast-paced top-down arena released as free software, with an aspiration to one day become an MMO with elements of RPG.<br><br>Set in a hypothetical afterlife reality, it shall provide joy through altruistic behaviours, fierce fights, exploration, fulfillment of elaborate social roles or sowing panic as a traitor to benevolent ones.<br><br>Declare allegiance to one of the three factions whose apple of discord is a disparity between prevailing notions of moral excellence. Metropolis. Atlantis. Resistance.</p>
    <h2>Gameplay</h2>
    <div class="image-container" id="imageContainer">
      <img src="https://i3.ytimg.com/vi/CHLPzZqANlM/maxresdefault.jpg" alt="youtube-thumbnail">
      <i class="fa-solid fa-play"></i>
    </div>
    <h2>Download</h2>
    <p>Hypersomnia is available for Windows, Linux, and MacOS. Choose your OS to download the game below.</p>
    <div class="three">
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia-for-Windows.zip" aria-label="Hypersomnia for Windows"><i class="fa-brands fa-windows" aria-hidden="true"></i></a></div>
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia.AppImage" aria-label="Hypersomnia for Linux"><i class="fa-brands fa-linux" aria-hidden="true"></i></a></div>
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia-for-MacOS.dmg" aria-label="Hypersomnia for MacOS"><i class="fa-brands fa-apple" aria-hidden="true"></i></a></div>
    </div>
    <p>Archives are <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/src/signing_keys.h" target="_blank">digitally signed</a>. You can <a href="https://hypersomnia.xyz/builds/latest/" target="_blank">verify signatures</a>.</p>
  </div>
  <div>
    <div class="alert">
      <strong>Early Access Game</strong><br>
      This game is not complete and may change further. If you are interested in the development of the project, join the discussion <a href="https://discord.gg/YC49E4G" target="_blank">https://discord.gg/YC49E4G</a>
    </div>
    <iframe title="discordapp" class="dc" src="https://discordapp.com/widget?id=284464744411430912&amp;theme=dark"></iframe>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const imageContainer = document.getElementById("imageContainer");
  imageContainer.addEventListener("click", function() {
    const videoUrl = "https://www.youtube.com/embed/CHLPzZqANlM?autoplay=1";
    const iframe = document.createElement("iframe");
    iframe.width = "560";
    iframe.height = "315";
    iframe.src = videoUrl;
    iframe.title = "YouTube video player";
    iframe.allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share";
    iframe.allowFullscreen = "";
    imageContainer.innerHTML = "";
    imageContainer.appendChild(iframe);
  });
});
</script>

{% include 'overall_footer.twig' %}
