{% include 'overall_header.twig' %}

<div class="parent">
  <div>
    <h2>Introduction</h2>
    <p>Hypersomnia is a fast-paced top-down arena released as free software, with an aspiration to one day become an MMO with elements of RPG.<br><br>Set in a hypothetical afterlife reality, it shall provide joy through altruistic behaviours, fierce fights, exploration, fulfillment of elaborate social roles or sowing panic as a traitor to benevolent ones.<br><br>Declare allegiance to one of the three factions whose apple of discord is a disparity between prevailing notions of moral excellence. Metropolis. Atlantis. Resistance.</p>
    <h2>Gameplay</h2>
    <iframe class="yt" width="560" height="315" src="https://www.youtube.com/embed/X7m2vDXIaxA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    <h2>Download</h2>
    <p>Hypersomnia is available for Windows, Linux, and MacOS. Choose your OS to download the game below.</p>
    <div class="three">
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia-for-Windows.zip"><i class="fa-brands fa-windows"></i></a></div>
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia-for-Linux.tar.gz"><i class="fa-brands fa-linux"></i></a></div>
      <div><a href="https://hypersomnia.xyz/builds/latest/Hypersomnia-for-MacOS.dmg"><i class="fa-brands fa-apple"></i></a></div>
    </div>
  </div>
  <div>
    <iframe class="dc" src="https://discordapp.com/widget?id=284464744411430912&amp;theme=dark"></iframe>
  </div>
</div>

{% include 'overall_footer.twig' %}
