      </div>
    </div>
    <div class="footer">
      <p>Hypersomnia is released under the <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/LICENSE.md" target="_blank">GNU AGPL 3.0 license</a> and <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank">source code is available on GitHub</a>.</p>
    </div>
  </div>
</body>
</html>
