      </div>
      <footer class="footer-distributed">
        <div class="footer-right">
          <a href="https://discord.gg/YC49E4G" target="_blank"><i class="fa fa-brands fa-discord"></i></a>
          <a href="https://youtube.com/@teamhypersomnia" target="_blank"><i class="fa fa-brands fa-youtube"></i></a>
          <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank"><i class="fa fa-brands fa-github"></i></a>
        </div>
        <div class="footer-left">
          <p><a class="bar" href="{{ url }}disclaimer">Disclaimer</a><a class="bar" href="{{ url }}contact">Contact</a><a href="{{ url }}press">Press</a><br>
          <a href="{{ url }}">Hypersomnia</a> is released under the <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/LICENSE.md" target="_blank">GNU AGPL 3.0 license</a>.<br>
          Source code is available on <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank">GitHub</a>.</p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
