{% include 'overall_header.twig' %}

<h1>Articles</h1>
<ul class="none">
  <li><a href="https://www.gamingdeputy.com/hypersomnia-is-a-free-multiplayer-shooter-for-mac-win-and-linux/" target="_blank">Hypersomnia Is A Free Multiplayer Shooter For Mac, Win And Linux</a><br><i class="subname">GAMINGDEPUTY</i></li>
  <li><a href="https://www.ifun.de/hypersomnia-freier-multiplayer-shooter-fuer-mac-win-und-linux-212657/" target="_blank">Hypersomnia: Freier Multiplayer-Shooter für Mac, Win und Linux</a><br><i class="subname">ifun.de</i></li>
</ul>

<h1 class="extra-padding">Press Kit</h1>
<ul class="none">
  <li><a href="{{ url }}assets/images/hypersomnia3x4.png" target="_blank">hypersomnia3x4.png</a><br><i class="subname">600x800px (png)</i></li>
  <li><a href="{{ url }}assets/images/gif_460x310.gif" target="_blank">gif_460x310.gif</a><br><i class="subname">460x310px (gif)</i></li>
</ul>

{% include 'overall_footer.twig' %}
