{% include 'overall_header.twig' %}

<h2>Articles</h2>
<p>
    <a href="https://www.gamingdeputy.com/hypersomnia-is-a-free-multiplayer-shooter-for-mac-win-and-linux/" target="_blank">Hypersomnia Is A Free Multiplayer Shooter For Mac, Win And Linux</a><br>
    <i class="subname">GAMINGDEPUTY</i>
</p>
<p>
    <a href="https://www.ifun.de/hypersomnia-freier-multiplayer-shooter-fuer-mac-win-und-linux-212657/" target="_blank">Hypersomnia: Freier Multiplayer-Shooter für Mac, Win und Linux</a><br>
    <i class="subname">ifun.de</i>
</p>

<h2 class="extra-padding">Press Kit</h2>
<p>
    <a href="{{ url }}assets/images/hypersomnia3x4.png" target="_blank">hypersomnia3x4.png</a><br>
    <i class="subname">600x800px (png)</i>
</p>
<p>
    <a href="{{ url }}assets/images/gif_460x310.gif" target="_blank">gif_460x310.gif</a><br>
    <i class="subname">460x310px (gif)</i>
</p>

{% include 'overall_footer.twig' %}
