{% include 'overall_header.twig' %}

<h1>Press Kit</h1>
<ul class="none">
  <li><a href="/assets/images/menu_game_logo.png" target="_blank">menu_game_logo.png<br><i class="subname">585x104px (png)</i></a></li>
  <li><a href="/assets/images/hypersomnia3x4.png" target="_blank">hypersomnia3x4.png<br><i class="subname">600x800px (png)</i></a></li>
  <li><a href="/assets/images/gif_460x310.gif" target="_blank">gif_460x310.gif<br><i class="subname">460x310px (gif)</i></a></li>
</ul>

<h2>Articles</h2>
<ul class="none">
  <li><a href="https://pubhtml5.com/mxdt/dbwn/Linux_USA_10.2023_downmagaz.net/89" target="_blank">October 2023's Linux Magazine (Issue #275) presents an review of Hypersomnia<br><i class="subname">Linux Magazine</i></a></li>
  <li><a href="https://news.ycombinator.com/item?id=36469297" target="_blank">Show HN: Open-source shooter which made it to AC: Valhalla and Skydio drones</a><br><i class="subname">Hacker News</i></li>
  <li><a href="https://www.gamingdeputy.com/hypersomnia-is-a-free-multiplayer-shooter-for-mac-win-and-linux/" target="_blank">Hypersomnia Is A Free Multiplayer Shooter For Mac, Win And Linux<br><i class="subname">GAMINGDEPUTY</i></a></li>
  <li><a href="https://www.ifun.de/hypersomnia-freier-multiplayer-shooter-fuer-mac-win-und-linux-212657/" target="_blank">Hypersomnia: Freier Multiplayer-Shooter für Mac, Win und Linux<br><i class="subname">ifun.de</i></a></li>
</ul>

{% include 'overall_footer.twig' %}
