{% include 'overall_header.twig' %}

<h2>Press Kit</h2>
<p>
    <a href="{{ url }}assets/images/hypersomnia3x4.png">hypersomnia3x4.png</a><br>
    <a href="{{ url }}assets/images/gif_460x310.gif">gif_460x310.gif</a>
</p>

{% include 'overall_footer.twig' %}
