{% include 'overall_header.twig' %}

<h1>Statistics</h1>
{% if statistics == false %}
<p class="error">Failed to retrieve statistics.</p>
{% else %}
<canvas id="unique_visitors"></canvas>

<h2>GitHub</h2>
<div class="box">
  <div><canvas id="github_stars"></canvas></div>
  <div><canvas id="github_forks"></canvas></div>
</div>

<h2>YouTube</h2>
<div class="box">
  <div><canvas id="youtube_views"></canvas></div>
  <div><canvas id="youtube_subscribers"></canvas></div>
</div>

<h2>Hypersomnia</h2>
<div class="box">
  <div><canvas id="hypersomnia_arenas"></canvas></div>
  <div><canvas id="hypersomnia_servers"></canvas></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
function convertToTitleCase(str) {
  return str.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
}

document.addEventListener('DOMContentLoaded', function () {
  var data = {{ statistics|json_encode()|raw }};
  var canvasElements = document.querySelectorAll('canvas');
  var dataSources = [];
  for (var i = 0; i < canvasElements.length; i++) {
    dataSources.push(canvasElements[i].id);
  }
  dataSources.forEach(function(dataSource) {
    var datasets = [];
    var labels = [];
    Object.keys(data).forEach(function(date) {
      labels.push(date);
      datasets.push(data[date][dataSource]);
    });
    new Chart(dataSource, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [
          {
            label: convertToTitleCase(dataSource),
            data: datasets,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }
        ]
      }
    });
  });
});
</script>
{% endif %}

{% include 'overall_footer.twig' %}
