{% include 'overall_header.twig' %}

<h1>Statistics</h1>
{% if statistics == false %}
<p>Failed to fetch statistics</p>
{% else %}
<canvas id="unique_visitors"></canvas>

<h2>GitHub</h2>
<div class="box">
  <div><canvas id="github_stars"></canvas></div>
  <div><canvas id="github_forks"></canvas></div>
</div>

<h2>YouTube</h2>
<div class="box">
  <div><canvas id="youtube_views"></canvas></div>
  <div><canvas id="youtube_subscribers"></canvas></div>
</div>

<h2>Hypersomnia</h2>
<div class="box">
  <div><canvas id="hypersomnia_arenas"></canvas></div>
  <div><canvas id="hypersomnia_servers"></canvas></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
function convertToTitleCase(str) {
  return str.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
}
document.addEventListener('DOMContentLoaded', function () {
  Chart.defaults.color = "#e7e7e7";
  Chart.defaults.borderColor = "#323235";
  Chart.defaults.borderWidth = 2;
  Chart.defaults.animation.duration = 0;
  Chart.defaults.scale.precision = 0;
  const data = {{ statistics|json_encode()|raw }};
  const canvasElements = document.querySelectorAll('canvas');
  canvasElements.forEach(function(canvas) {
    const dataSource = canvas.id;
    const datasets = [];
    const labels = Object.keys(data).map(date => date.substring(0, 5));
    Object.values(data).forEach(function(value) {
      datasets.push(value[dataSource]);
    });
    new Chart(dataSource, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{label: convertToTitleCase(dataSource), data: datasets}]
      }
    });
  });
});
</script>
{% endif %}

{% include 'overall_footer.twig' %}
