module.exports = {
  apps: [{
    name: 'app',
    script: 'app.js',
    cwd: '{{ paths.app_root }}',
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: '1G',
    env: {
      NODE_ENV: 'production',
      DOMAIN: 'https://{{ domains.hub }}',
      MASTERSERVER_DOMAIN: 'https://{{ domains.masterserver }}'
    }
  }]
};
