[Unit]
Description=Hypersomnia Dedicated Server
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ ansible_user_dir }}
ExecStart={{ paths.hypersomnia_bin }}/Hypersomnia-Headless.AppImage --as-service
Restart=always
RestartSec=0.5

[Install]
WantedBy=multi-user.target
