name: Deploy to hypersomnia.xyz

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }} 
          known_hosts: unnecessary
          
      - name: Adding Known Hosts
        run: ssh-keyscan -H hypersomnia.xyz >> ~/.ssh/known_hosts

      - name: Deploy with rsync
        # WATCH OUT!!! DO NOT ADD SPACES INSIDE BRACES BETWEEN ARGUMENTS OR THE ENTIRE WEBSITE WILL BE WIPED OUT!
        run: rsync --exclude={'public/arenas','private','node_modules','.git','.github','.env'} -avzP . ubuntu@hypersomnia.xyz:/var/www/app --delete-after

      - name: Install Dependencies
        run: npm install --production

      - name: Minify JS and CSS
        run: |
          npm install uglify-js uglifycss
          uglifyjs public/assets/scripts/main.js -o public/assets/scripts/main.min.js
          uglifycss public/assets/styles/main.css --output public/assets/styles/main.min.css

      - name: Restart PM2
        run: |
          ssh ubuntu@hypersomnia.xyz "pm2 restart app"
