name: Deploy to hypersomnia.io

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Add hypersomnia.io to known hosts
        run: ssh-keyscan -H hypersomnia.io >> ~/.ssh/known_hosts

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Run Ansible Playbook
        run: |
          cd infra
          ansible-playbook playbooks/site.yml -i inventory/hypersomnia.io.yml --tags "nginx,homepage"
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
